body{
  @include regular-font(16px, 1.5);
  color: $font-main-color;
  min-width: $phone;
  @include phone{
    font-size: 14px;
  }
}

.body-active-menu{
  overflow: hidden;
}

.wrapper{
  width: 100%;
  position: relative;
  overflow: hidden;
}

.wrapper--main{
  min-height: 100%;
}

.wrapper--index{
  min-height: 550px;
  height: 100%;
}

.main-content{
  width: 100%;
  height: 100%;
  position: relative;
}

.main-content--overlay{
  padding-bottom: $footer-height-screen;

  @include tablet{
    padding-bottom: $footer-height-tablet;
  }

  @include phone{
    padding-bottom: $footer-height-phone;
  }
}

.photo{
  width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;
}

.photo__img{
  max-width: 100%;
  object-fit: cover;
}

.section{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.triangles{
  position: absolute;
  left: 0;
  top: 0;

  transform: translateY(-99%);

  fill: $light;
  width: 100%;

  @include tablet{
    width: 200%;
    left: -50%;
  }
  @include phone{
    width: 300%;
    left: -100%;
  }
}

.socials__item{
  display: inline-block;
  margin-right: 20px;
  &:last-child{
    margin-right: 0;
  }
}

.socials__link{
  display: block;
  width: 25px;
  height: 25px;
  overflow: hidden;
  text-indent: 100%;
  position: relative;
  transition: $transition;
  opacity: .5;
  &:hover{
    opacity: 1;
  }
}

.socials__icon{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  max-width: 100%;
  max-height: 100%;
}

.socials__icon--index{
  fill: $bg-main-color;
}

.socials__icon--header{
  fill: $light;
}