@function rem($px) {
  @return $px / 16px+0rem;
}

// Fonts
@mixin font-family($family, $weight){
  font-family: $family;
  font-style: normal;
  font-weight: $weight;
}
@mixin font-size($size: null, $line-height: null){
  font-size: $size;
  line-height: $line-height;
}

@mixin accent-font($size: null, $line-height: null) {
  @include font-family($accent-font, 400);
  @include font-size($size, $line-height);
}

@mixin regular-font($size: null, $line-height: null) {
  @include font-family($main-font, 400);
  @include font-size($size, $line-height);
}

@mixin medium-font($size: null, $line-height: null) {
  @include font-family($main-font, 500);
  @include font-size($size, $line-height);
}

@mixin light-font($size: null, $line-height: null) {
  @include font-family($main-font, 200);
  @include font-size($size, $line-height);
}

@mixin bold-font($size: null, $line-height: null) {
  @include font-family($main-font, 700);
  @include font-size($size, $line-height);
}

//Elements

@mixin text-links() {
  color: $font-link-color;
  border-bottom: 1px solid $font-link-color;
  transition: $transition;

  &:hover{
    border-bottom: 1px solid transparent;
  }
}

@mixin main-heading() {
  @include accent-font(63px, 1.05);
  text-transform: uppercase;
  text-align: center;
  color: $font-title-main-color;
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
  
    &::after, &::before{
      content: '';
      position: absolute;
      top: 34px;
      width: 20px;
      height: 5px;
      background-color: rgba(55, 62, 66, .2);
    }
    &::before{
      left: 0;
    }
    &::after{
      right: 0;
    }
}

@mixin second-heading() {
  @include accent-font(35px, 1.17);
  text-transform: uppercase;
  text-align: center;
  color: $font-title-second-color;
  position: relative;
  padding-left: 40px;
  padding-right: 40px;

  &::after, &::before{
    content: '';
    position: absolute;
    top: 15px;
    width: 20px;
    height: 5px;
    background-color: rgba(55, 62, 66, .2);
  }
  &::before{
    left: 0; 
  }
  &::after{
    right: 0;
  }
}

@mixin block-links() {
  @include medium-font;
  padding: 12.5px 25px;
  background-color: rgba(0, 191, 165, .8);
  transition: $transition;

  &:hover{
    background-color: rgba(0, 150, 136, .8);
  }
}

@mixin button{
  @include medium-font;
  display: block;
  border: 1px solid;
  border-radius: 3px;
}