// Fonts
$accent-font: "Bernier", serif;
$main-font: "Roboto", Helvetica, Arial, sans-serif;

//Colors
$light-green: #00bfa5;
$dark-green: #009688;
$blue: #455a64;
$light-blue: #6da3bd;
$dark-blue: #373e42;
$red: #e44845;
$light: #ffffff;
$grey: #53595d;

$error-color: $red;
$border-color: #73c8c0;
$font-accent-color: $light-green;
$font-main-color: $blue;
$font-light-color: $light;
$font-title-main-color: $dark-blue;
$font-title-second-color: $blue;
$font-link-color: $light-blue;
$bg-footer-color: $grey;
$bg-main-color: $light-green;
$bg-hover-color: $dark-green;
$bg-menu-color: $light-green;

//Animation
$transition: .3s;

//Padding, Margin
$padding-h1: 70px 40px;
$padding-h2: 40px 40px;


//Sizes
$footer-height-screen: 140px;
$footer-height-tablet: 235px;
$footer-height-phone: 270px;


//Breakpoints
$phone: 320px;
$tablet: 767px;
$laptop: 1199px;
$screen: 1799px;