footer.footer.footer--dark-theme
  .footer__row
    nav.footer-nav.footer__footer-nav
      ul.footer-nav__list
        +link(works.src, works.name, 'footer-nav')
        +link(about.src, about.name, 'footer-nav')
        +link(blog.src, blog.name, 'footer-nav')
        +link(index.src, index.name, 'footer-nav')
    ul.footer-socials
      li(class='footer-socials__item')
        a(href=vk.src title=vk.name class='footer-socials__link')= vk.name
          svg(class='footer-socials__icon footer-socials__icon--vk footer-socials__icon--normal')
            use(xlink:href=vk.icon)
          svg(class='footer-socials__icon footer-socials__icon--round')
            use(xlink:href=vk.iconRound)
      li(class='footer-socials__item')
        a(href=github.src title=github.name class='footer-socials__link')= github.name
          svg(class='footer-socials__icon footer-socials__icon--github footer-socials__icon--normal')
            use(xlink:href=github.icon)
          svg(class='footer-socials__icon footer-socials__icon--round')
            use(xlink:href=github.iconRound)
      li(class='footer-socials__item')
        a(href=linkedin.src title=linkedin.name class='footer-socials__link')= linkedin.name
          svg(class='footer-socials__icon footer-socials__icon--linkedin footer-socials__icon--normal')
            use(xlink:href=linkedin.icon)
          svg(class='footer-socials__icon footer-socials__icon--round')
            use(xlink:href=linkedin.iconRound)
  .footer__row
    .footer__description.
      Я веб-разработчик из Минска, и этот сайт я сделала в рамках обучения в Школе
      онлайн-образования LoftSchool.
    .copyright.footer__copyright &copy; Глафира Чурилович | Создано с любовью в LoftSchool | 2017