footer.footer.footer--dark-theme
  .footer__row
  .footer__row
    .footer__description.
      Я веб-разработчик из Минска, и этот сайт я сделала в рамках обучения в Школе
      онлайн-образования LoftSchool.
    .copyright.footer__copyright &copy; Глафира Чурилович | Создано с любовью в LoftSchool | 2017