main(class= mainClass)
  if userStyle
    section.hero.hero--main
      svg.decoration.decoration--main(width="1200" height="300")
          use(xlink:href= svgRoot + '#portfolio_header')
      header.header
        ul.header-socials.header__header-socials
          +socials(vk.src, vk.name, vk.icon, 'header-socials')
          +socials(github.src, github.name, github.icon, 'header-socials')
          +socials(linkedin.src, linkedin.name, linkedin.icon, 'header-socials')
        .header__menu.hamburger
          a.hamburger__icon.hamburger__icon--active#hamburger
            span.hamburger__line.hamburger__line--top
            span.hamburger__line.hamburger__line--middle
            span.hamburger__line.hamburger__line--bottom
          nav.hamburger__nav.hamburger__nav--active
            ul.hamburger__list
              +link(works.src, works.name, 'hamburger')
              +link(blog.src, blog.name, 'hamburger')
              +link(about.src, about.name, 'hamburger')
              +link(index.src, index.name, 'hamburger')
      include ./_user
      a.arrow.hero__arrow(title="Читайте дальше")
        +svg(svgRoot + '#arrow_down', 'arrow')
  else if blogStyle
    section.hero
      svg.decoration.decoration--blog(width="300" height="250")
          use(xlink:href= svgRoot + '#blog_header')
      header.header
        ul.header-socials.header__header-socials
          +socials(vk.src, vk.name, vk.icon, 'header-socials')
          +socials(github.src, github.name, github.icon, 'header-socials')
          +socials(linkedin.src, linkedin.name, linkedin.icon, 'header-socials')
        .header__menu.hamburger
          a.hamburger__icon.hamburger__icon--active#hamburger
            span.hamburger__line.hamburger__line--top
            span.hamburger__line.hamburger__line--middle
            span.hamburger__line.hamburger__line--bottom
          nav.hamburger__nav.hamburger__nav--active
            ul.hamburger__list
              +link(works.src, works.name, 'hamburger')
              +link(blog.src, blog.name, 'hamburger')
              +link(about.src, about.name, 'hamburger')
              +link(index.src, index.name, 'hamburger')
      include ./_user
  block main-section