section.section.slider
  .slider-text
    h3.slider-text__title Сайт школы онлайн образования
    .slider-text__skills HTML, CSS, Javascript
    a.slider-text__link.slider-link(href="" target="blank")
      +svg(svgRoot + '#link', 'slider-link', "21", "21")
      .slider-link__name Посмотреть сайт
  .slider-preview
    img.slider-preview__img(src="./img/slider/loftschool.png", alt="Работа")
  .slider-buttons
    a.slider-button.slider-button--left#sliderLeft(href='')
      ul.slider-button__list
        li.slider-button__item
          .slider-button__pic
            img.slider-button__img(src="./img/slider/yoga_thumb.jpg", alt="Работа")
      +svg(svgRoot + '#portf_arrow_down', 'slider-button', "45", "30")
    a.slider-button.slider-button--right#sliderRight(href='')
      ul.slider-button__list
        li.slider-button__item
          .slider-button__pic
            img.slider-button__img(src="./img/slider/trialog_thumb.jpg", alt="Работа")
      +svg(svgRoot + '#portf_arrow_up', 'slider-button', "45", "30")