include ./../helpers/_variables
include ./../helpers/_mixins

<!DOCTYPE html>
html(lang="ru")
  include ./partials/_head
    block title
  body
    block variables
      -let wrapperClass
      -let mainClass
      -let userStyle = false
      -let blogStyle = false
    div(class= wrapperClass)
      block content
      block footer
    block scripts      
      