include ./../helpers/_variables
include ./../helpers/_mixins

<!DOCTYPE html>
html(lang="ru")
  include ./partials/_head
    block title
  body
    block variables
      -let wrapperClass
      -let mainClass
      -let userStyle = false
      -let blogStyle = false
    div(class= wrapperClass)
      block content
      block footer
    if workpage
      script(src="https://use.fontawesome.com/51b4e7e58f.js")
    script(src="./scripts/bundle.js")     
      