extends ./../layout/template

block title
  title= about.name

block variables
  - wrapperClass = 'wrapper wrapper--main'
  - mainClass = 'main-content'
  - userStyle = true

block main-section
  section.section.about
    include ./../layout/partials/_triangles
    .about-description
      .about-description__left
        h1.about-description__main-title Обо мне
          svg.about-description__decoration
            use(xlink:href= svgRoot + '#about_header.svg')
      .about-description__right
        .about-description__photo(style="background-image: url('./img/content/myphoto.jpg')")
          img.about-description__img(src="./img/content/myphoto.jpg", alt="Мое фото")
        h2.about-description__title Кто я
        .about-description__text
          p.
            Я веб-разработчик из Минска. Мне 24 года. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
          p.
            Этот сайт я сделала в рамках обучения в Школе онлайн-образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
    .skills
      h2.skills__title Чем я могу быть вам полезен
      .skills__description.
        Больше всего меня привлекает Frontend разработка, но я также и могу решать несложные задачи на Backend. Но давайте по порядку.
      ul.skills-list
        - for (let i = 0; i < skills.length; i++)
          li.skills-list__item.skills-row
            h3.skills-row__title #{skillNames[i]}
            ul.skills-row__list
              each skill in skills[i]
                li.skills-row__item.skill
                  +circle('circle-'+skill.skill + ' ')
                  h4.skill__title #{skill.name} 
  section.map
    .contact
      h3.contact__title Контакты
      ul.contact__list
        li.contact__item
          +svg(svgRoot + '#skype', 'contact')
          a.contact__link(href="skype:glasha_ch") glasha_ch
        li.contact__item
          +svg(svgRoot + '#envelope', 'contact')
          a.contact__link(href="mailto:glafira.churilovich@gmail.com") glafira.churilovich@gmail.com
        li.contact__item
          +svg(svgRoot + '#phone', 'contact')
          a.contact__link(href="tel:+375257123783") +375 (25) 712-37-83
        li.contact__item
          +svg(svgRoot + '#map_marker', 'contact')
          a.contact__link(href="") Минск, ул. Ташкентская, 22/2