extends ./../layout/template

block title
  title= about.name

block variables
  - wrapperClass = 'wrapper wrapper--main'
  - mainClass = 'main-content'
  - userStyle = true

block main-section
  section.section.about
    include ./../layout/partials/_triangles
  section.map
    .contact
      h3.contact__title Контакты
      ul.contact__list
        li.contact__item
          svg.contact__icon
          .contant__info