extends ./../layout/basic-template

block title
  title Сайт-Портфолио

block content
  main.main-content.main-content--index.main-content--overlay
    a.button.index-button.index-button--active(href="") Авторизоваться
    include ./../layout/partials/_index-info
    include ./../layout/partials/_index-form

block footer
  footer.footer
    .copyright.copyright--index 	&copy; Глафира Чурилович | Создано с любовью в LoftSchool | 2017