include ./../helpers/_variables
include ./../helpers/_mixins

include ./../layout/partials/_head
  title Сайт-Портфолио
body
  .wrapper.index
    main.main-content.index__main-content
      a.button.index__button.index__button--active(href="") Авторизоваться
      include ./../layout/partials/_index-info
      include ./../layout/partials/_index-form
    footer.footer.index__footer
    .copyright.index__copyright 	&copy; Глафира Чурилович | Создано с любовью в LoftSchool | 2017