extends ./../layout/template
block title
  title= works.name

block variables
  - wrapperClass = 'wrapper wrapper--main'
  - mainClass = 'main-content'
  - userStyle = true
  
block main-section
  section.section.works
    include ./../layout/partials/_triangles
    h1.works__title Мои работы
      svg(class='works__decoration' width="500" height="160")
        use(xlink:href=svgRoot + '#works_header')
  include ./../layout/partials/_slider
  section.section.feedback
    h2.feedback__title Что обо мне говорят
      svg(class='feedback__decoration')
        use(xlink:href=svgRoot + '#about_header')
    ul.feedback__list
      li.feedback__item
        i.feedback__icon.fa.fa-quote-left.fa-3x
        blockquote.feedback__quote.
          Глаша проходила обучение веб-разработке не где-то, а в Loftschool! 18 недель только самых тяжелых испытаний и бессоных ночей!
        .feedback__info
          .feedback__photo
            img.feedback__img(src="./img/content/dima.jpg" alt="Дима Ковальчук")
          .feedback__text
            .feedback__author Дмитрий Ковальчук
            .feedback__job основатель LoftSchool
      li.feedback__item
        i.feedback__icon.fa.fa-quote-left.fa-3x
        blockquote.feedback__quote.
          Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах!
        .feedback__info
          .feedback__photo
            img.feedback__img(src="./img/content/vova.jpg" alt="Вова Сабанцев")
          .feedback__text
            .feedback__author Владимир Сабанцев
            .feedback__job преподаватель
    .feedback__form
      .blur
      form.contact-form#workForm(action='' method='POST')
        h3.contact-form__title Связаться со мной
        .contact-form__inputs        
          input.contact-form__input#contactName(type='text' placeholder='Имя' name="contactName" required)
          input.contact-form__input#contactEmail(type='text' placeholder='Email' name="contactEmail" required)
          textarea.contact-form__textarea#contactMessage(placeholder='Ваше сообщение' name="contactMessage" required)
        .contact-form__buttons
          button.contact-form__button#contactSubmit(type="submit") Отправить
          button.contact-form__button(type="reset") Очистить
    a.feedback__arrow.arrow-up#arrowUp
      svg(class='arrow-up__icon')
        use(xlink:href=svgRoot + '#portf_arrow_up')


block moreScripts
  script(src="https://use.fontawesome.com/51b4e7e58f.js")