extends ./../layout/template
block title
  title= works.name

block variables
  - wrapperClass = 'wrapper wrapper--main'
  - mainClass = 'main-content'
  - userStyle = true

block main-section
  section.section.works
    include ./../layout/partials/_triangles
    h1.works__title Мои работы
      svg(class='works__decoration')
        use(xlink:href=svgRoot + '#works_header')
  section.section.slider
  section.section.feedback
    h2.feedback__title Что обо мне говорят
      svg(class='feedback__decoration')
        use(xlink:href=svgRoot + '#about_header')
    ul.feedback__list
      li.feedback__item
        blockquote.feedback_quote.
          Эта девушка проходила обучение веб-разработке не где-то, а в Loftschool! 18 недель только самых тяжелых испытаний и бессоных ночей!
        .feedback__info
          .feedback__photo
            img.feedback__img(src="" alt="Дима Ковальчук")
          .feedback__text
            .feedback__author Дмитрий Ковальчук
            .feedback__job основатель LoftSchool
      li.feedback__item
        blockquote.feedback_quote.
          Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах!
        .feedback__info
          .feedback__photo
            img.feedback__img(src="" alt="Вова Сабанцев")
          .feedback__text
            .feedback__author Владимир Сабанцев
            .feedback__job преподаватель
