.hero__user{
  margin-top: 70px;
}

.hero__user--main{
  padding-bottom: 130px;
}

.hero__user--blog{
  padding-bottom: 60px;
}

.user{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user__photo{
  margin-bottom: 30px;
}

.user__name{
  @include medium-font(35px, 1.2);
  color: $font-light-color;
}

.user__description{
  @include light-font();
  color: $font-light-color;
}
