- const index = {src: './index.html', name: 'Авторизация'}
- const about = {src: './about.html', name: 'Обо мне'}
- const blog = {src: './blog.html', name: 'Блог'}
- const works = {src: './works.html', name: 'Мои работы'}

- const vk = {src: '//vk.com/glasha.ch', name: 'Вконтакте', icon: './img/sprite.svg#vk', iconRound: './img/sprite.svg#vk_round'}
- const github = {src: '//github.com/glashach', name: 'Github', icon: './img/sprite.svg#github', iconRound: './img/sprite.svg#github_round'}
- const linkedin = {src: 'linkedin.com/in/glafira-churilovich-461835b4/', name: 'LinkedIn', icon: './img/sprite.svg#in', iconRound: './img/sprite.svg#in_round'}

- const svgRoot = './img/sprite.svg'