- const index = {src: './index.html', name: 'Авторизация'}
- const about = {src: './about.html', name: 'Обо мне'}
- const blog = {src: './blog.html', name: 'Блог'}
- const works = {src: './works.html', name: 'Мои работы'}

- const vk = {src: '//vk.com/glasha_ch', name: 'Вконтакте', icon: './img/sprite.svg#vk', iconRound: './img/sprite.svg#vk_round'}
- const github = {src: '//github.com/glashach', name: 'Github', icon: './img/sprite.svg#github', iconRound: './img/sprite.svg#github_round'}
- const linkedin = {src: '//linkedin.com/in/glafira-churilovich', name: 'LinkedIn', icon: './img/sprite.svg#in', iconRound: './img/sprite.svg#in_round'}

- const svgRoot = './img/sprite.svg'

- const html5 = {name: 'HTML5', skill: '90'}
- const css3 = {name: 'CSS3', skill: '85'}
- const js = {name: 'JavaScript & jQuery', skill: '75'}

- const frontend = [html5, css3, js]

- const php = {name: 'PHP', skill: '20'}
- const mySQL = {name: 'mySQL', skill: '35'}
- const node = {name: 'Node.js & npm', skill: '45'}
- const mongo = {name: 'Mongo.db', skill: '10'}

- const backend = [php, mySQL, node, mongo]

- const git = {name: 'Git', skill: '70'}
- const gulp = {name: 'Gulp', skill: '80'}
- const webpack = {name: 'Webpack', skill: '50'}

- const workflow = [git, gulp, webpack]

- const skills = [frontend, backend, workflow]
- const skillNames = ['Frontend', 'Backend', 'Workflow']